.container {
    height: 100px;
    width: 100%;
    background: silver;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    color: #5b12ec;
    font-weight: 900;
    span {
        color: red;
    }
    span:nth-child(3) {
        margin: 0 10px;
    }
    span:nth-child(2), span:nth-child(4) {
        color: green;
    }
}